<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodClub 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FoodClub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FoodClubStyle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StyleKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B0E09DE1AA83F3100AA19DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0E09F61AA83F3200AA19DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E191AAF0DD5009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E231AAF0DD5009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E401AAF0F91009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E4A1AAF0F91009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E6A1AAF1128009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8E5E741AAF1128009D9C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
